<?xml version="1.0" encoding="UTF-8"?>
<window>
  <defaultcontrol always="true">9000</defaultcontrol>
  <controls>
    <include>FullBackground</include>
    <control type="group">
      <include>OpenClose</include>
      <control type="label" description="Heading">
        <include>CenterHeading</include>
        <label>$LOCALIZE[10004]</label>
      </control>
      <control type="panel" id="9000">
        <include condition="[StringCompare(Skin.AspectRatio,16:9) | StringCompare(Skin.AspectRatio,4:3)]">LeftMargin</include>
        <include condition="![StringCompare(Skin.AspectRatio,16:9) | StringCompare(Skin.AspectRatio,4:3)]" content="LeftMargin">
          <param name="Left" value="120"/>
        </include>
        <width>45%</width>
        <include>VerticalMargins</include>
        <itemlayout height="120">
          <control type="image">
            <left>24</left>
            <bottom>0</bottom>
            <right>24</right>
            <height>1</height>
            <texture border="1" colordiffuse="$VAR[Label2Color]">dot/Grey.png</texture>
            <aspectratio>stretch</aspectratio>
          </control>
          <control type="image">
            <height>100%</height>
            <width>120</width>
            <texture colordiffuse="$VAR[LabelNFColor]">$INFO[ListItem.Icon]</texture>
            <bordersize>30</bordersize>
            <align>left</align>
            <aligny>center</aligny>
            <aspectratio>keep</aspectratio>
          </control>
          <control type="label">
            <left>140</left>
            <height>100%</height>
            <font>size24</font>
            <textcolor>$VAR[LabelNFColor]</textcolor>
            <label>$INFO[ListItem.Label]</label>
          </control>
        </itemlayout>
        <focusedlayout height="120">
          <control type="image">
            <left>24</left>
            <bottom>0</bottom>
            <right>24</right>
            <height>1</height>
            <texture border="1" colordiffuse="$VAR[Label2Color]">dot/Grey.png</texture>
            <aspectratio>stretch</aspectratio>
          </control>
          <control type="image">
            <height>100%</height>
            <width>120</width>
            <texture colordiffuse="$VAR[LabelNFColor]">$INFO[ListItem.Icon]</texture>
            <bordersize>30</bordersize>
            <align>left</align>
            <aligny>center</aligny>
            <aspectratio>keep</aspectratio>
          </control>
          <control type="label">
            <left>140</left>
            <height>100%</height>
            <font>size24</font>
            <textcolor>$VAR[LabelNFColor]</textcolor>
            <label>$INFO[ListItem.Label]</label>
          </control>
        </focusedlayout>
        <content>
          <item>
            <label>$LOCALIZE[20094]</label>
            <onclick>ActivateWindow(MediaSources,root)</onclick>
            <icon>icons/sources.png</icon>
          </item>
          <item>
            <label>$LOCALIZE[14036]</label>
            <onclick>ActivateWindow(ServiceSettings)</onclick>
            <icon>icons/network.png</icon>
          </item>
          <item>
            <label>$LOCALIZE[157]</label>
            <onclick>ActivateWindow(VideosSettings)</onclick>
            <icon>icons/videos.png</icon>
          </item>
          <item>
            <label>$LOCALIZE[1]</label>
            <onclick>ActivateWindow(PicturesSettings)</onclick>
            <icon>icons/pictures.png</icon>
          </item>
          <item>
            <label>$LOCALIZE[2]</label>
            <onclick>ActivateWindow(MusicSettings)</onclick>
            <icon>icons/music.png</icon>
          </item>
          <item>
            <label>$LOCALIZE[19020]</label>
            <onclick>ActivateWindow(PVRSettings)</onclick>
            <icon>icons/livetv.png</icon>
          </item>
        </content>
      </control>
      <control type="panel" id="9001">
        <include condition="[StringCompare(Skin.AspectRatio,16:9) | StringCompare(Skin.AspectRatio,4:3)]">RightMargin</include>
        <include condition="![StringCompare(Skin.AspectRatio,16:9) | StringCompare(Skin.AspectRatio,4:3)]" content="RightMargin">
          <param name="Right" value="120"/>
        </include>
        <width>45%</width>
        <include>VerticalMargins</include>
        <itemlayout height="120">
          <control type="image">
            <left>24</left>
            <bottom>0</bottom>
            <right>24</right>
            <height>1</height>
            <texture border="1" colordiffuse="$VAR[Label2Color]">dot/Grey.png</texture>
            <aspectratio>stretch</aspectratio>
          </control>
          <control type="image">
            <height>100%</height>
            <width>120</width>
            <texture colordiffuse="$VAR[LabelNFColor]">$INFO[ListItem.Icon]</texture>
            <bordersize>30</bordersize>
            <align>left</align>
            <aligny>center</aligny>
            <aspectratio>keep</aspectratio>
          </control>
          <control type="label">
            <left>140</left>
            <height>100%</height>
            <font>size24</font>
            <textcolor>$VAR[LabelNFColor]</textcolor>
            <label>$INFO[ListItem.Label]</label>
          </control>
        </itemlayout>
        <focusedlayout height="120">
          <control type="image">
            <left>24</left>
            <bottom>0</bottom>
            <right>24</right>
            <height>1</height>
            <texture border="1" colordiffuse="$VAR[Label2Color]">dot/Grey.png</texture>
            <aspectratio>stretch</aspectratio>
          </control>
          <control type="image">
            <height>100%</height>
            <width>120</width>
            <texture colordiffuse="$VAR[LabelNFColor]">$INFO[ListItem.Icon]</texture>
            <bordersize>30</bordersize>
            <align>left</align>
            <aligny>center</aligny>
            <aspectratio>keep</aspectratio>
          </control>
          <control type="label">
            <left>140</left>
            <height>100%</height>
            <font>size24</font>
            <textcolor>$VAR[LabelNFColor]</textcolor>
            <label>$INFO[ListItem.Label]</label>
          </control>
        </focusedlayout>
        <content>
          <item>
            <label>$LOCALIZE[480]</label>
            <onclick>ActivateWindow(AppearanceSettings)</onclick>
            <icon>icons/appearance.png</icon>
          </item>
          <item>
            <label>$LOCALIZE[13200]</label>
            <onclick>ActivateWindow(Profiles)</onclick>
            <icon>icons/profiles.png</icon>
          </item>
          <item>
            <label>$LOCALIZE[13000]</label>
            <onclick>ActivateWindow(SystemSettings)</onclick>
            <icon>icons/system.png</icon>
          </item>
          <item>
            <label>$LOCALIZE[24001]</label>
            <onclick>ActivateWindow(addonbrowser)</onclick>
            <icon>icons/extensions.png</icon>
          </item>
          <item>
            <label>$LOCALIZE[138]</label>
            <onclick>ActivateWindow(systeminfo)</onclick>
            <icon>icons/sysinfo.png</icon>
          </item>
          <item>
            <label>$LOCALIZE[10003]</label>
            <onclick>ActivateWindow(filemanager)</onclick>
            <icon>icons/fileman.png</icon>
          </item>
        </content>
      </control>
    </control>
    <include>NowPlaying</include>
  </controls>
</window>
